.app-header {
  background-color: #000080;
  color: #C41E3A;
  height: 50px;
  padding: 5px;
  position :fixed;
  top: 0;
  width: 100%;
  z-index:  1;
}

.app-title {
  font-size: 2em;
  text-align: center;
  margin-top: -1px;
  font-family: cursive;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  height: 100vh;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.search-area {
  font-size: 25px;
  position: absolute;
  margin-left: 5px;
  top: 6%;
}

.input {
  font-size: 0.8em;
  width: 100%;

}

#venueList {
  margin-left: -40px;
  margin-top: -20px;
}

#listItem {
  margin: 0;
}

#listItem li {
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  font-size: 18px;
  color: black;
  list-style: none;
}

#listItem li:hover:not(.header) {
  background-color: grey;
  cursor: pointer;
}
